//p::before {
//  content: "->";
//  color: blue;
//}
//p::after{
//  content:'->';
//  color: blue;
//}
//文字第一行样式
p::first-line{
  color: #ff7632;
}
//控制输入框提示语样式
input::placeholder{
  color: red;
}
p::selection {
  color:blue ;
  background-color: rgba(0,0,0,0.4);
}
