<!--<input type="radio" name="last" id="orange">-->
<!--<label for="orange">Orange</label>-->

<!--<input type="radio" name="last" id="apple">-->
<!--<label for="apple">Apple</label>-->

<!--<input type="radio" name="last" id="tangerine" checked>-->
<!--<label for="tangerine">Tangerine</label>-->

<!--<input type="radio" name="last" id="grapefruit">-->
<!--<label for="grapefruit">Grapefruit</label>-->
<!--<div>-->
<!--  <input type="radio" name="my-input" id="yes">-->
<!--  <label for="yes">Yes</label>-->

<!--  <input type="radio" name="my-input" id="no" checked>-->
<!--  <label for="no">No</label>-->
<!--</div>-->

<!--<p lang="en-US">-->
<!--  If you miss the train I'm on-->
<!--  <br>-->
<!--  You will know that I am gone-->
<!--  <br>-->
<!--  You can hear the whistle blow a hundred miles-->
<!--  <br>-->
<!--  A hundred miles a hundred miles-->
<!--  <br>-->
<!--  A hundred miles a hundred miles-->
<!--</p>-->
<!--<p lang="cn-Zh">-->
<!--  若你与我的列车交错-->
<!--  <br>-->
<!--  你会知晓我已远走他乡-->
<!--</p>-->
<!--<div>1</div>-->
<!--<div></div>-->
<!--<app-text></app-text>-->
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<!--<h1 class="title">{{title}}</h1>-->
<!--<p>{{name}}</p>-->
<!--<p>getVal:{{getVal()}}</p>-->
<!--<p>job:{{job}}</p>-->
<!--<p>The sum of 1 + 1 is {{1 + 1}}.</p>-->
<!--<p>price的7折 {{price * 0.7}}.</p>-->
<!--<p>与方法结合 {{price * 0.7 + getVal()}}.</p>-->
<!--<p>性别：{{gender===0? '男': '女'}}</p>-->
<!--<img src="../assets/madao.jpg" alt="madao" />-->
<!--绑定模板合法属性的两种方法-->
<!--<img [src]="madaoSrc" alt="madao" />-->
<!--<img bind-src="madaoSrc" alt="madao" />-->
<!--自定义属性前面加attr.-->
<!--<span [attr.data-title]="customTitle">一行文字</span>-->
<!--<span [attr.title]="customTitle">test title</span>-->
<!--<span [title]="customTitle">test title</span>-->
<!--<img src="{{user2.pic}}" alt="madao" />-->
<!--以下两种写法一致-->
<!--<img [src]="'madaoSrc'" alt="madao" />-->
<!--<img src="madaoSrc" alt="madao" />-->
<!--绑定单个class-->
<!--<button type="button" class="btn" [class.btn-primary]="isPrimary">Primary</button>-->
<!--<button type="button" class="btn" [class.btn-primary]="'2222'">Primary</button>-->
<!--绑定多个class-->
<!--<section>-->
<!--  <button type="button" [class]="btnCls">btnCls</button>-->
<!--  <button type="button" [class]="btnCls2">btnCls2</button>-->
<!--  <button type="button" [class]="btnCls3">btnCls3</button>-->

<!--  &lt;!&ndash; 也可以用内置指令ngClass &ndash;&gt;-->
<!--  <button type="button" [ngClass]="btnCls">btnCls</button>-->
<!--  <button type="button" [ngClass]="btnCls2">btnCls2</button>-->
<!--  <button type="button" [ngClass]="btnCls3">btnCls3</button>-->
<!--</section>-->


<!--绑定单个style-->
<!--<p [style.color]="'#f60'">一段文字</p>-->
<!--<p [style.border]="'1px solid'" [style.width]="'100px'">一段文字</p>-->
<!--<p [style.height]="'50px'" [style.border]="'1px solid'">设置高度</p>-->
<!--<p [style.height.px]="100" [style.border]="'1px solid'">设置高度</p>-->
<!--绑定多个style-->
<!--<p [style]="style1">style1</p>-->
<!--<p [style]="style2">style2</p>-->
<!--<p [style]="style3">style3</p>-->
<!-- 也可以用内置指令ngStyle, 但不推荐，以后可能会弃用 -->
<!--  <p [ngStyle]="style1">style1</p>-->
<!--  <p [ngStyle]="style2">style2</p>-->

<!-- ngStyle只接收对象-->
<!--<p [ngStyle]="style3">style3</p>-->
<button class="btn btn-primary" (click)="showModal=true" >按钮</button>
<!--<app-dialog [show]="showModal" [title]="'一个标题1'"></app-dialog>-->
<!--当属性是一个静态值时 title为一个静态值  书写方式title===[title]-->
<app-dialog
  [show]="showModal"
  title="一个标题哈"
  (close)="onClose()"
  (OnbackdropClick)="onClose()"
  (Onconfirmd)="confirm()"
  >
</app-dialog>

<app-pseudo-class></app-pseudo-class>

<!--基本双向绑定 input output 名字xxx xxxChange 可简化写法-->
<!--<app-sizer [size]="size" (change)="changes($event)"></app-sizer>-->
<!--<app-sizer [(size)]="size"></app-sizer>-->

<!--<h2>双向绑定</h2>-->
<!--<app-ngmodule></app-ngmodule>-->
<!--结构型指令ngif-->
<!--<app-if></app-if>-->
<!--<app-ng-switch></app-ng-switch>-->
<!--<app-text></app-text>-->
<!--<app-ng-ng-for></app-ng-ng-for>-->
<!--<app-tpl></app-tpl>-->
<!--<app-tpl-operators></app-tpl-operators>-->
<div class="panel">
  <button class="btn btn-primary" (click)="resect()">resect</button>
  <app-transfer-panel [list]="list" [seach]="true" (change)="onchange($event)"></app-transfer-panel>
</div>

