<!--<p (click)="onClick('2222',$event)">dialog works!</p>-->

<!--<div (click)="clickParent()" class="wrap" style="width: 200px;height: 200px;background-color: #ffdf7e">-->
<!--&lt;!&ndash;  (click)="clivkChild($event)"&ndash;&gt;-->
<!--  <div (click)="$event.stopPropagation()" class="wrap" style="width: 100px;height: 100px;background-color: #FF7EB2FF"></div>-->
<!--</div>-->

<!--<input type="text" (keyup)="onInput($event)"/>-->

<div class="modal fade show black-back" (click)="backdropClick()" [class.d-block]="show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button (click)="onClose()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">{{cancelLabel}}</button>
        <button type="button" class="btn btn-primary" (click)="Onconfirm()">{{confirmLable}}</button>
      </div>
    </div>
  </div>
</div>
